@model BandsApp.Web.Models.Band
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    <title>Bands</title>
</head>
<body>
    <h2>Details</h2>
    <ol>
        <h2>@Model.Name</h2>
        <h3>@Model.Description</h3>
        @* <img src="@Model.ImageUrl" /> *@
        <img src="~/images/rammstein.jpg" />
    </ol>
</body>
</html>
