@model BandsApp.Web.Models.Band[]
<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
</head>
<body>
    <h2>Bands</h2>
    <ol>
        @foreach(var item in Model)
        {
            <li>@item.Name</li>
        }
        </ol>
    </body>
    </html>